@font-face {
  font-family: "gela";
  src: url("/fonts/gela.woff2") format("woff2"), url("/fonts/gela.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
:root {
  --grid: 20px;
  --color-purple: #755de2;
  --color-orange: #f37e2f; }

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  text-align: center; }
  @media only screen and (min-width: 1024px) {
    body {
      font-size: 22px; } }

a {
  text-decoration: none; }

.button {
  display: inline-flex;
  background: var(--color-purple);
  border-radius: calc(var(--grid) / 4 * 3);
  color: white;
  line-height: 1;
  padding: calc(var(--grid) / 4 * 3) calc(var(--grid) * 3);
  transition: background 0.3s cubic-bezier(0.66, 0, 0.07, 1); }
  .button:hover {
    background: var(--color-orange); }

h1 {
  font-family: "gela";
  font-size: 12vw;
  color: #e3fffd;
  margin-top: calc(-1.5 * var(--grid));
  margin-bottom: calc(2 * var(--grid));
  filter: drop-shadow(0 0 0.35rem rgba(255, 255, 255, 0.3)); }
  @media only screen and (min-width: 1024px) {
    h1 {
      font-size: 6rem;
      margin-top: calc(-2 * var(--grid));
      margin-bottom: calc(2 * var(--grid)); } }

h2 {
  position: relative;
  z-index: 0;
  font-family: "gela";
  font-size: 8vw;
  color: var(--color-purple);
  margin-top: var(--grid);
  margin-bottom: 0; }
  @media only screen and (min-width: 1024px) {
    h2 {
      font-size: 4rem;
      margin: 0;
      width: 60%;
      max-width: 700px; } }

.caps {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--color-purple);
  transition: color 0.3s cubic-bezier(0.66, 0, 0.07, 1); }
  .caps:hover {
    color: var(--color-orange); }

.image {
  display: block;
  margin: auto;
  max-width: 300px; }
  @media only screen and (min-width: 1024px) {
    .image {
      width: 40%;
      max-width: 400px; } }

img {
  display: block;
  width: 100%; }

.orange {
  color: var(--color-orange); }

header {
  margin-bottom: calc(2 * var(--grid)); }
  @media only screen and (min-width: 1024px) {
    header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center; } }
  header .button {
    display: none; }
    @media only screen and (min-width: 1024px) {
      header .button {
        display: block; } }
  header .app-title {
    font-family: "gela";
    color: white;
    font-size: 8vw; }
    @media only screen and (min-width: 1024px) {
      header .app-title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2.2rem; } }
  header .app-icon {
    display: none; }
    @media only screen and (min-width: 1024px) {
      header .app-icon {
        display: block;
        width: 70px; } }

section {
  padding: var(--grid); }
  @media only screen and (min-width: 1024px) {
    section .wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin: auto;
      max-width: 1024px;
      padding: calc(3 * var(--grid)) 0; } }
  @media only screen and (min-width: 1180px) {
    section .wrapper {
      padding: calc(6 * var(--grid)) 0; } }
  section.intro {
    display: block;
    background: linear-gradient(0deg, #f9f8fd 0%, #87c1f3 60%); }
    section.intro .image {
      position: relative;
      z-index: 1; }
      section.intro .image picture {
        display: block;
        padding-bottom: 121%; }
        section.intro .image picture img {
          position: absolute; }
    section.intro p {
      color: var(--color-purple);
      margin: auto;
      margin-top: calc(2 * var(--grid));
      margin-bottom: calc(2 * var(--grid));
      max-width: 600px;
      opacity: 0.7; }
    @media only screen and (min-width: 1024px) {
      section.intro .wrapper-mobile {
        display: none; } }
    section.intro .wrapper-mobile .caps {
      display: inline-flex;
      margin-bottom: calc(0.5 * var(--grid)); }
    section.intro .wrapper-desktop {
      display: none; }
      @media only screen and (min-width: 1024px) {
        section.intro .wrapper-desktop {
          display: block;
          margin-bottom: calc(2 * var(--grid)); } }
      section.intro .wrapper-desktop > div {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        section.intro .wrapper-desktop > div .qr {
          width: 70px; }
        section.intro .wrapper-desktop > div .button {
          position: absolute;
          left: 50%;
          transform: translateX(-50%); }
  @media only screen and (min-width: 1024px) {
    section.section-2 h2 {
      order: 1; }
    section.section-2 .image {
      order: 2; } }
  @media only screen and (min-width: 1024px) {
    section.section-3 {
      background: linear-gradient(0deg, #eec9fc 0%, #755de2 80%); } }
  @media only screen and (min-width: 1024px) {
    section.section-3 h2 {
      color: #e3fffd;
      filter: drop-shadow(0 0 0.35rem rgba(255, 255, 255, 0.3)); } }
  section.section-3 h2 a {
    display: block;
    margin: auto;
    margin-top: var(--grid);
    width: 90px; }
    section.section-3 h2 a:hover {
      opacity: 0.5; }
  @media only screen and (min-width: 1024px) {
    section.section-4 {
      background: url("./images/bg.jpeg") no-repeat center center fixed;
      -webkit-background-size: cover;
      background-size: cover; } }
  @media only screen and (min-width: 1024px) {
    section.section-4 h2 {
      color: white;
      width: 100%;
      max-width: 900px;
      margin-top: -110px; } }
  @media only screen and (min-width: 1024px) {
    section.section-4 .image.mobile {
      display: none; } }
  section.section-4 .image.desktop {
    display: none; }
    @media only screen and (min-width: 1024px) {
      section.section-4 .image.desktop {
        display: block;
        max-width: inherit;
        width: 100%; } }
  section.section-5 {
    padding-bottom: 0; }
    section.section-5 h2 {
      font-size: 12vw; }
      @media only screen and (min-width: 1024px) {
        section.section-5 h2 {
          font-size: 4rem;
          margin: auto;
          max-width: 600px; } }
    section.section-5 p {
      color: var(--color-purple);
      margin: auto;
      margin-top: calc(2 * var(--grid));
      margin-bottom: calc(2 * var(--grid));
      max-width: 600px;
      opacity: 0.7; }

@media only screen and (min-width: 1024px) {
  footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 var(--grid);
    margin-bottom: calc(3 * var(--grid)); } }
footer .button {
  margin-bottom: calc(2 * var(--grid)); }
  @media only screen and (min-width: 1024px) {
    footer .button {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      order: 2;
      margin-bottom: 0; } }
footer nav {
  margin-bottom: calc(2 * var(--grid)); }
  @media only screen and (min-width: 1024px) {
    footer nav {
      display: flex;
      flex-wrap: wrap;
      order: 1;
      margin-bottom: 0; } }
  footer nav a {
    display: block;
    margin-bottom: calc(0.5 * var(--grid)); }
    @media only screen and (min-width: 1024px) {
      footer nav a {
        margin-right: var(--grid);
        margin-bottom: 0; } }
footer div {
  margin-bottom: calc(2 * var(--grid)); }
  @media only screen and (min-width: 1024px) {
    footer div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      order: 3;
      margin: 0; } }
  footer div a {
    display: block;
    margin: auto; }
    @media only screen and (min-width: 1024px) {
      footer div a {
        margin-left: var(--grid); } }
    footer div a:hover {
      opacity: 0.5; }
    footer div a:first-child {
      width: 180px; }
      @media only screen and (min-width: 1024px) {
        footer div a:first-child {
          order: 2; } }
    footer div a:nth-child(2) {
      width: 40px; }
      @media only screen and (min-width: 1024px) {
        footer div a:nth-child(2) {
          order: 1; } }

/*# sourceMappingURL=index.css.map */
